<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Product Management</h3>
<button type="button">
    <a th:href="@{/product/create}">
        Add new product
    </a>
</button>

<form th:action="@{/product}" method="get">
    <input type="text" name="name">
    <button type="submit">Search</button>
</form>

<div class="notify">
    <!--/*@thymesVar id="success" type="com.codegym"*/-->
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<table id="products">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Describe</th>
        <th>Producer</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${products}">
        <td th:text="${row.getName()}"></td>
        <td th:text="${row.getPrice()}"></td>
        <td th:text="${row.getDescribe()}"></td>
        <td th:text="${row.getProducer()}"></td>
        <td><a th:href="@{/product/{id}/edit(id=${row.getId()})}">Edit</a></td>
        <td><a th:href="@{/product/{id}/delete(id=${row.getId()})}">Delete</a></td>
        <td><a th:href="@{/product/{id}/view(id=${row.getId()})}">View</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>