<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Edit Product</h3>
<div id="form">
    <form action="#" th:action="@{/music/update}" th:object="${music}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{idTheSong}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{nameOfTheSong}"/>
        </div>
        <div>
            <label>Price</label>
            <input type="email" th:field="*{performingArtist}"/>
        </div>
        <div>
            <label>Product Description</label>
            <input type="text" th:field="*{kindOfMusic}"/>
        </div>
        <div>
            <label>Producer</label>
            <input type="text" th:field="*{songFilePath}"/>
        </div>
        <div>
            <a th:href="@{/music}"><input type="button" value="Back"/></a>
            <input type="submit" value="Edit"/>
        </div>

    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>