<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout::head}">
    <meta charset="UTF-8">
    <title>Create Customer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
<div th:replace="~{/layout::header}"></div>

<h2>
    <a th:href="@{/customer}">
        <button type="button" class="btn btn-success mt-4"> Back to customer list</button>
    </a>
</h2>

<div >
    <form th:action="@{/customer/save}" th:object="${customerDto}" method="POST" novalidate="novalidate">

        <input type="hidden" th:field="*{customerId}"/>
        <table class="table table-success" cellpadding="5">
            <tr>
                <th>Customer Code</th>
                <td>
                    <input type="text" th:field="*{customerCode}"/>
                    <span style="color: red" th:if="${#fields.hasErrors('customerCode')}"
                          th:errors="*{customerCode}"></span>
                </td>
            </tr>
            <tr>
                <th>Customer Name</th>
                <td>
                    <input type="text" th:field="*{customerName}"/>
                    <span style="color: red" th:if="${#fields.hasErrors('customerName')}"
                          th:errors="*{customerName}"></span>
                </td>
            </tr>
            <tr>
                <th>Customer Birthday</th>
                <td>
                    <input type="text" th:field="*{customerBirthday}"/>
                    <span th:if="${#fields.hasErrors('customerBirthday')}" th:errors="*{customerBirthday}"></span>
                </td>
            </tr>
            <tr>
                <th>Customer Gender</th>
                <br>
                <td>
                    <div class="row">
                        <div class="col-12">
                            <select th:field="*{customerGender}">
                                <option th:value="0" th:text="Male"></option>
                                <option th:value="1" th:text="Female"></option>
                            </select>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Customer Id Card</th>
                <td>
                    <input type="number" th:field="*{customerIdCard}"/>
                    <span style="color: red" th:if="${#fields.hasErrors('customerIdCard')}"
                          th:errors="*{customerIdCard}"></span>
                </td>
            </tr>
            <tr>
                <th>Customer Phone</th>
                <td>
                    <input type="number" th:field="*{customerPhone}"/>
                    <span style="color: red" th:if="${#fields.hasErrors('customerPhone')}"
                          th:errors="*{customerPhone}"></span>
                </td>
            </tr>
            <tr>
                <th>Customer Email</th>
                <td>
                    <input type="text" th:field="*{customerMail}">
                    <span style="color: red" th:if="${#fields.hasErrors('customerMail')}"
                          th:errors="*{customerMail}"></span>
                </td>
            </tr>
            <tr>
                <th>Customer Address</th>
                <td>
                    <input type="text" th:field="*{customerAddress}"/>
                    <span style="color: red" th:if="${#fields.hasErrors('customerAddress')}"
                          th:errors="*{customerAddress}"></span>
                </td>
            </tr>
            <tr>
                <th>Customer Type</th>
                <td>
                    <select th:field="*{customerType}">
                        <option th:each="item:${customerTypeList}" th:value="${item.id}"
                                th:text="${item.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn btn-success">Save</button>
                </td>
            </tr>
        </table>
    </form>
</div>

<footer th:replace="/layout :: footer"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>