<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit blog</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" style="margin: auto">
    <form action="/blogs/edit" method="post" th:object="${blog}">
        <div >
            <select th:field="*{category}" >
                <option th:each="categorys : ${category}"
                        th:value="${categorys.categoryId}"
                        th:text="${categorys.categoryName}">
                </option>
            </select>
        </div>
        <label>Id</label>
        <input readonly th:field="*{id}">
        <label>Blog name</label>
        <input th:field="*{blogName}">
        <label>Author name</label>
        <input th:field="*{authorName}">
        <label>Blog content</label>
        <textarea th:field="*{blogContent}"></textarea>
        <input type="submit" value="edit">
    </form>
</div>
</body>
</html>