<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>View Product</h3>
<p>
    <a th:href="@{/product}"><input type="button" value="Back"/></a>
</p>
<div id="detail">
    <div class="cusdetail">
        <label>Name:</label>
        <label th:text="${product.name}"></label>
    </div>
    <div class="cusdetail">
        <label>Price:</label>
        <label th:text="${product.price}"></label>
    </div>
    <div class="cusdetail">
        <label>Product Description:</label>
        <label th:text="${product.productDescription}"></label>
    </div>
    <div class="cusdetail">
        <label>Producer:</label>
        <label th:text="${product.producer}"></label>
    </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>