<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog | Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<div class="row" style="justify-content: center; margin-top: 9rem">
    <form th:action="@{/j_spring_security}" method="POST"
          style="background-color: whitesmoke; border-radius: 1rem; padding: 2rem">
        <div class="row" style="justify-content: center">
            <h4>Login Form</h4>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">User name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name='username'
                   aria-describedby="emailHelp" placeholder="Enter username">
            <small id="emailHelp" class="form-text text-muted">We'll never share your user name with anyone
                else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name='password'
                   placeholder="Password">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" name="remember-me" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <div class="row" style="margin-left: 0.5rem">
            <div th:if="${#request.getParameter('error') == 'true'}"
                 style="color:red;margin:10px 0px;">
                Login Failed!!!<br/>
                Reason :
                <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
                      th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                Static summary
                </span>
            </div>
        </div>
    </form>
</div>
</body>
</html>