<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="~{/layout::header}"></header>
<div class="col-lg-10 mt-4">
    <div class="container-fluid">
        <div class="row">
            <caption><h2 align="center">Danh sách hợp đồng</h2></caption>
            <div class="row text-primary" th:if="${message}">
                <h3 align="center" th:text="${message}"></h3>
            </div>

            <table class="table table-striped table-bordered" id="tableCustomer" style="width:100%">
                <thead>
                <tr class="table-success bg-dark">
                    <th>#</th>
                    <th>Service</th>
                    <th>Customer</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Deposit</th>
                    <th>Total Money</th>
                    <th colspan="2">Các dịch vụ đi kèm</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="">

                    <td th:text=""></td>
                    <td th:text=""></td>
                    <td th:text=""></td>
                    <td th:text=""></td>
                    <td th:text=""></td>
                    <td th:text=""></td>
                    <td th:text=""></td>
                    <td>
                        <button class="btn btn-primary" data-bs-toggle="modal"
                                th:attr="">
                            +
                        </button>

                        <div class="modal fade" th:id=""
                             data-bs-backdrop="static"
                             data-bs-keyboard="false" tabindex="-1" aria-labelledby="addAttachFacilityLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form th:action="" method="post">
                                        <div class="modal-header bg-primary">
                                            <h5 class="modal-title text-white" id="addAttachFacilityLabel">
                                                Thêm dịch vụ đi kèm</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <table class="table table-striped table-bordered">
                                                <tr>
                                                    <th>Thêm cho dịch vụ:</th>
                                                    <td>
                                                        <input type="text" th:value=""
                                                               name="contract" hidden>
                                                        <input type="text"
                                                               th:value=""
                                                               class="form-control">
                                                    </td>
                                                </tr>
                                                <th:block th:each="">
                                                    <tr>
                                                        <td>
                                                            <input type="checkbox" name="attachFacility"
                                                                   th:class=""
                                                                   th:text="" th:value=""
                                                                   class="form-check">
                                                        </td>
                                                        <td>
                                                            <input type="number" name="quantity"
                                                                   th:class="" value="0"
                                                                   class="form-control">
                                                        </td>
                                                    </tr>
                                                </th:block>

                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Đóng
                                            </button>
                                            <button type="submit" class="btn btn-primary">Thêm</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>

                    <td>
                        <button class="btn btn-primary" data-bs-toggle="modal" th:attr="">
                            Danh sách
                        </button>

                        <div class="modal fade" th:id=""
                             data-bs-backdrop="static"
                             data-bs-keyboard="false" tabindex="-1" aria-labelledby="getAttachListLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header bg-primary">
                                        <h5 class="modal-title text-white" id="getAttachListLabel">
                                            Danh sách dịch vụ đi kèm</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table table-striped table-bordered">
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Cost</th>
                                                <th>Unit</th>
                                                <th>Status</th>
                                                <th>Quantity</th>
                                            </tr>
                                            <tr th:each="">
                                                <th:block th:each="">
                                                    <th:block th:if="">
                                                        <td th:text=""></td>
                                                        <td th:text=""></td>
                                                        <td th:text=""></td>
                                                        <td th:text=""></td>
                                                        <td th:text=""></td>
                                                        <td th:text=""></td>
                                                    </th:block>
                                                </th:block>
                                            </tr>
                                        </table>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Đóng
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>

        <div style="display: flex; color: #0a58ca; justify-content: center">
            <a th:href="" th:if="">Previous</a>
            <label th:text=""></label>
            /
            <label th:text=""></label>
            <a th:href="" th:if="">
                Next
            </a>
        </div>
        <div class="row">
            <h2>
                <a th:href="">
                    <button type="button" class="btn btn-primary">
                        Thêm hợp đồng mới
                    </button>
                </a>
            </h2>
        </div>
    </div>
</div>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>