<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{/layout::header}"></div>

<table class="table table-success text-center table-striped" id="tableContract" style="width: 100%">
    <tr>
        <th>STT</th>
        <th>Dịch vụ</th>
        <th>Tên Khách Hàng</th>
        <th>Ngày bắt đầu</th>
        <th>Ngày kết thúc</th>
        <th>Tiền đặt cọc</th>
        <th>Tổng tiền</th>
        <th>Dịch vụ đi kèm</th>
    </tr>
    <tr th:each="contract,status : ${contractList}">
        <td th:text="${contract.contractId}"></td>
        <td th:text="${contract.facility.facilityName}"></td>
        <td th:text="${contract.customer.customerName}"></td>
        <td th:text="${contract.startDate}"></td>
        <td th:text="${contract.endDate}"></td>
        <td th:text="${#numbers.formatCurrency(contract.deposit)}"></td>
        <td th:text="${#numbers.formatCurrency(contract.totalMoney)}"></td>
        <td>
            <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modelIdCreate" th:href="@{/contract/create}">
                +
            </a>

            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modelId"
               th:attr="onclick=|getContractDetail(${contract.contractId})|">
                Danh sách các dịch vụ đi kèm
            </button>
        </td>
    </tr>
</table>
<div>
    <a th:href="@{'/contract'(page=${contractList.number - 1})}" th:if="${contractList.hasPrevious()}">Previous</a>
    <span th:text="${contractList.number + 1}"></span>/<span th:text="${contractList.totalPages}"></span>
    <a th:href="@{'/contract'(page=${contractList.number + 1})}" th:if="${contractList.hasNext()}">Next</a>
</div>

<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modelTitleId">Danh sách dịch vụ đi kèm</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered ">
                    <thead class="btn-success text-center text-light">
                    <tr>
                        <th>STT</th>
                        <th>Tên</th>
                        <th>Giá</th>
                        <th>Đơn vị</th>
                        <th>Trạng thái</th>
                    </tr>
                    </thead>
                    <tbody id = "contractDetailId">

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-outline-danger " data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Create Contract-->
<form th:action="@{/createContract}" method="post">
    <div class="modal fade" id="modelIdCreate" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Ngày bắt đầu</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" id="startDate">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Ngày kết thúc</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" id="endDate">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Tiền cọc</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="deposit">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Tổng tiền</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" disabled id="total">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Khách hàng</label>
                        <div class="col-sm-10">
                            <select class="form-select" aria-label="Default select example" id="customer">
                                <option th:each="customer,status : ${customerList}" th:text="${customer.customerName}"
                                        th:value="${customer.customerId}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Dịch vụ</label>
                        <div class="col-sm-10">
                            <select class="form-select" aria-label="Default select example"
                                    id="idFacility">
                                <option th:each="facility,status : ${facilityList}" th:text="${facility.facilityName}"
                                        th:value="${facility.facilityId}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Danhh sách dịch vụ đi kèm</label>
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-success" onclick="selContract()">+</button>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger btn-sm" data-bs-dismiss="modal">Thoát</button>
                    <input type="submit" class="btn btn-outline-success btn-sm" value="Thêm mới" onclick="addNewContractDetail()">
                </div>
            </div>
        </div>
    </div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    function getContractDetail(id) {
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/contractDetailRestFul/list/" + id,
            success: function (contractDetails) {
                let htmlStr = '';
                for (let i = 0; i < contractDetails.length; i++) {
                    htmlStr += `<tr>
                        <td>${i + 1}</td>

                        <td>${contractDetails[i].attachFacility.attachFacilityName}</td>
                        <td>${contractDetails[i].attachFacility.cost}</td>
                        <td>${contractDetails[i].attachFacility.unit}</td>
                        <td>${contractDetails[i].attachFacility.status}</td>
                    </tr>`;
                }
                $("#contractDetailId").html(htmlStr);
                console.log(htmlStr);
            },
            error: function (resultError) {
            }
        });
    }
</script>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>